Ques 1. Create one variable containing following type of data:

String

In [1]:
a = "sudhakar"

List

In [2]:
b = [2,3,4,5,"pwskills",True,55.087,3+2j]

Float

In [3]:
c = 89.756

Tuple

In [43]:
d = (10,20,30,40,50)

Ques 2. Given are some following variables containing data:

In [6]:
var1 = ' '

'var1' contains an empty string

In [44]:
var2 = '[DS,ML,Python]'

'var2' contains a string that appears to represent a list ,  but it's a string with square brackets.

In [12]:
var3 = ['DS','ML','Python']

'var3' is a list containing string

In [13]:
var4 = 1

'var4' is a integer

Ques 3. Explain the use of the following operators using an example:

'/' (Division Operator)
This operator is used for division in python

In [17]:
10/5

2.0

'%'(Modulas Operator). This operator is used to find the remainder of a division operator

In [18]:
5%4

1

'//' (Floor Division Operator). This operator is used for floor division.

In [21]:
8//4

2

'**' (Exponentiation Operator).
This operator is used for exponentiation, raising a number to a power.

In [22]:
2**4

16

Ques 4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [27]:
l = [8,6,5,3,"sudhakar",True,55.5,"pwskills",23.3,False]

In [28]:
l

[8, 6, 5, 3, 'sudhakar', True, 55.5, 'pwskills', 23.3, False]

In [30]:
for i in l : 
    print(type(i))
    if i == 6 :
        continue
    print(i)
else :
    print("this will be executed once for loop will comoplete itself succefully")

<class 'int'>
8
<class 'int'>
<class 'int'>
5
<class 'int'>
3
<class 'str'>
sudhakar
<class 'bool'>
True
<class 'float'>
55.5
<class 'str'>
pwskills
<class 'float'>
23.3
<class 'bool'>
False
this will be executed once for loop will comoplete itself succefully

Ques 5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [33]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))
count = 0
while A % B == 0:
    A = A // B  
    count += 1  
if A == 0:
    print(f"{A} is purely divisible by {B} {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter number A:  10
Enter number B:  3

10 is not purely divisible by 3.

Ques 6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [35]:
l = [12, 6, 8, 27, 15, 10, 21, 9, 14, 30, 18, 5, 24, 33, 7, 22, 36, 2, 4, 16, 45, 3, 11, 42, 13]
for i in l:
    if i % 3 == 0:
        print(f"{i} is divisible by 3.")
    else:
        print(f"{i} is not divisible by 3.")

12 is divisible by 3.
6 is divisible by 3.
8 is not divisible by 3.
27 is divisible by 3.
15 is divisible by 3.
10 is not divisible by 3.
21 is divisible by 3.
9 is divisible by 3.
14 is not divisible by 3.
30 is divisible by 3.
18 is divisible by 3.
5 is not divisible by 3.
24 is divisible by 3.
33 is divisible by 3.
7 is not divisible by 3.
22 is not divisible by 3.
36 is divisible by 3.
2 is not divisible by 3.
4 is not divisible by 3.
16 is not divisible by 3.
45 is divisible by 3.
3 is divisible by 3.
11 is not divisible by 3.
42 is divisible by 3.
13 is not divisible by 3.

Ques 7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types are those whose values can be modified after they are created.

In list mutability are allowed

In [36]:
l = [5,8,9,6,"sudhakar",True,55.5]

In [37]:
l

[5, 8, 9, 6, 'sudhakar', True, 55.5]

In [38]:
l[2]=500

In [39]:
l

[5, 8, 500, 6, 'sudhakar', True, 55.5]

Immutable data types are those whose values cannot be modified once they are created.

In string mutability are not allowed

In [40]:
s = "sudhakar"

In [41]:
s

'sudhakar'

In [42]:
s[2]=p

NameError: name 'p' is not defined